*.log
db/schema.rb
db/schema.sql
.DS_Store
*~
*.*~
*.bak
*.sav
*.aux
*.bbl
*.title
*.rel
*.pdf
*.cuts
*.blg
*.log
*.out
Old
auto
body.tex
Web
*private*
*BigWide*
*synctex*
.specstory/
.cursorindexingignore 
